{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/dashboard.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

{% endblock %}

{% block content %}

<div id="chargenow-dashboard" class="cn-fullwidth">

    <h1 class="dashboard-title">
         ChargeNow Admin Dashboard
    </h1>

    <!--STATS GRID -->
    <div class="stats-grid">

        <div class="stat-card">
            <i class="fa-solid fa-users"></i>
            <div class="text">
                <p class="card-label">Total Users</p>
                <h2 class="card-number">{{ total_users|default:"0" }}</h2>
            </div>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-user-gear"></i>
            <div class="text">
                <p class="card-label">Van Operators</p>
                <h2 class="card-number">{{ total_operators|default:"0" }}</h2>
            </div>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-truck"></i>
            <div class="text">
                <p class="card-label">Charging Vans</p>
                <h2 class="card-number">{{ total_vans|default:"0" }}</h2>
            </div>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-calendar-check"></i>
            <div class="text">
                <p class="card-label">Bookings</p>
                <h2 class="card-number">{{ total_bookings|default:"0" }}</h2>
            </div>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-credit-card"></i>
            <div class="text">
                <p class="card-label">Payments</p>
                <h2 class="card-number">{{ total_payments|default:"0" }}</h2>
            </div>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-message"></i>
            <div class="text">
                <p class="card-label">Feedbacks</p>
                <h2 class="card-number">{{ total_feedbacks|default:"0" }}</h2>
            </div>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-bell"></i>
            <div class="text">
                <p class="card-label">Requests</p>
                <h2 class="card-number">{{ total_requests|default:"0" }}</h2>
            </div>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-car"></i>
            <div class="text">
                <p class="card-label">User Vehicles</p>
                <h2 class="card-number">{{ total_user_vehicles|default:"0" }}</h2>
            </div>
        </div>

    </div>

  
   
{% endblock %}
