{% load i18n %}

<div class="submit-row jazzmin-actions">

    {% if show_save %}
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-success">
    {% endif %}

    {% if show_save_and_add_another %}
        <input type="submit" name="_addanother"
               value="{% trans 'Save and add another' %}"
               class="btn btn-info">
    {% endif %}

    {% if show_save_and_continue %}
        <input type="submit" name="_continue"
               value="{% trans 'Save and view' %}"
               class="btn btn-primary">
    {% endif %}

    {% if show_cancel %}
        <a href="../" class="btn btn-danger">Cancel</a>
    {% endif %}

</div>
