* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* SCREEN BACKGROUND */
body {
    height: 100vh;
    background: linear-gradient(145deg, #020814, #041a33);
    overflow: hidden;
}

/* MAIN WRAPPER — CENTER CONTENT */
.login-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 90px;
    justify-content: center; 
    align-items: center; 
}

/* BRAND SECTION — NO SPLIT BACKGROUND */
.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/*LOGO SIZE*/
.brand-logo {
    max-width: 700px;
    width: 100%;
    margin-bottom: 18px;
    filter: drop-shadow(0 0 18px rgba(0,255,200,0.35));
}

.brand h1 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #00ffd5, #7CFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand p {
    opacity: 0.75;
    letter-spacing: 1px;
}

/* LOGIN AREA */
.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
form {
    width: 420px;
    background: rgba(5, 15, 30, 0.88);
    padding: 45px;
    border-radius: 22px;
    box-shadow:
        0 0 30px rgba(0,255,204,0.18),
        inset 0 0 20px rgba(0,255,204,0.08);
    backdrop-filter: blur(14px);
}

form h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 28px;
    letter-spacing: 1px;
    color: #00ffd5;
}

/* INPUTS */
input {
    width: 100%;
    padding: 18px;
    margin-bottom: 22px;
    border-radius: 14px;
    border: none;
    background: #060d18;
    color: #eaffff;
    font-size: 15px;
}

input::placeholder {
    color: #6fa9a3;
}

input:focus {
    outline: none;
    box-shadow: 0 0 12px rgba(0,255,204,0.6);
}

/* LOGIN BUTTON */
button {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: #001010;
    background: linear-gradient(135deg, #00ffd5, #7CFF00);
    box-shadow: 0 0 20px rgba(0,255,200,0.45);
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.04);
    box-shadow: 0 0 35px rgba(0,255,200,0.8);
}

/* LOGOUT PAGE LOGO */
.logout-page {
    max-width: 120px;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 15px rgba(0,255,200,0.3));
}
